// *********************************
// Typography:
// *********************************
$caption-light              : #F5E4E4;
$caption-dark               : #7B7979;

$filter-item-text           : #868686;
$filter-item-text-selected  : #F5E4E4;

$price-discount             : #9F9595;
$price-current              : #FFC134;

$description-text           : #808080;

$btn-buy-text               : #fff;
$btn-more-text              : #7B7979;
$btn-clouse-text            : #843232;


// *********************************
// Background:
// *********************************

$dropdown-header            : linear-gradient(to bottom, #fd6100, #ff7600);
$dropdown-menu-bg      : #fff;
$filter-item-bg             : #EBEBEB;
$filter-item-bg-selected    : #FF7600;
$product-front-bg           : #FFFFFF;
$product-details-bg         : #FFF6EB;

$btn-buy-bg                 : #FF7600;
$btn-more-bg                : #FFF6EB;
$btn-clouse-bg              : #fff;

