.main{
    margin-top: 7rem;

    @media only screen and (min-width: 768px) {
        margin-top: 10rem;
        width: 97%;
    }
    @media only screen and (min-width: 1300px) {
        width: 1300px;
    }
    @media only screen and (min-width: 1500px) {
        width: 1500px;
    }
}